In [10]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

# Тема “Обучение с учителем”

### Задание 1

##### Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [11]:
bhp_dataset = load_boston()

In [19]:
type(bhp_dataset.data)

numpy.ndarray

In [24]:
f_names = bhp_dataset.feature_names
type(f_names)

numpy.ndarray

In [25]:
X = pd.DataFrame(bhp_dataset.data, columns=f_names)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [27]:
y = pd.DataFrame(bhp_dataset.target, columns=['price'])
y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [59]:
test = X.copy()

In [60]:
test['price'] = y
test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

##### Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 13), (152, 13), (354, 1), (152, 1))

##### Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [57]:
lr = LinearRegression()

##### Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [58]:
lr.fit(X_train, y_train)

LinearRegression()

In [71]:
y_pred = lr.predict(X_test)

##### Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [72]:
r2_score(y_test, y_pred)

0.7112260057484887

In [84]:
linear_r2_score = r2_score(y_test, y_pred, multioutput='variance_weighted')
linear_r2_score

0.7112260057484887

### Задание 2

#####  Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble. Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

In [85]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

##### Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [86]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

##### Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания. Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [87]:
y2_pred = model.predict(X_test)

In [88]:
rfr_r2_score = r2_score(y2_pred, y_pred)
rfr_r2_score

0.7912146935457827

In [89]:
if rfr_r2_score > linear_r2_score:
    print('RandomForestRegressor is better for this dataset')
else:
    print('LinearRegression is better for this dataset')

RandomForestRegressor is better for this dataset

### *Задание 3

##### Вызовите документацию для класса RandomForestRegressor, найдите информацию об атрибуте feature_importances_.

In [95]:
help(RandomForestRegressor.feature_importances_)

Help on property:

    The impurity-based feature importances.

    The higher, the more important the feature.
    The importance of a feature is computed as the (normalized)
    total reduction of the criterion brought by that feature.  It is also
    known as the Gini importance.

    Warning: impurity-based feature importances can be misleading for
    high cardinality features (many unique values). See
    :func:`sklearn.inspection.permutation_importance` as an alternative.

    Returns
    -------
    feature_importances_ : ndarray of shape (n_features,)
        The values of this array sum to 1, unless all trees are single node
        trees consisting of only the root node, in which case it will be an
        array of zeros.

##### С помощью этого атрибута найдите сумму всех показателей важности, установите, какие два признака показывают наибольшую важность

In [99]:
model.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [111]:
type(model.feature_importances_)

numpy.ndarray

In [129]:
assert(len(model.feature_importances_) == X.shape[1]), 'Something wrong'

In [138]:
tmp = pd.DataFrame(model.feature_importances_, columns=['vals'])
tmp['name'] = f_names
tmp

        vals     name
0   0.031676     CRIM
1   0.001543       ZN
2   0.007138    INDUS
3   0.001236     CHAS
4   0.014269      NOX
5   0.402682       RM
6   0.014299      AGE
7   0.063973      DIS
8   0.005281      RAD
9   0.011525      TAX
10  0.018081  PTRATIO
11  0.012451        B
12  0.415847    LSTAT

In [139]:
tmp.sort_values(by=['vals'], ascending=False)[0:2]

        vals   name
12  0.415847  LSTAT
5   0.402682     RM

In [142]:
feature_importances_sum = sum(model.feature_importances_)
feature_importances_sum

1.0